.gameBoard {
  height: 90%;
  width: 35%;
  background-color: red;
  margin: 0 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.newGame {
  height: 2em;
  width: 2em;
  background-color: cadetblue;
  margin: 1em;
}
.dice {
  height: 10em;
  width: 10em;
  background-color: green;
  margin: 1em;
  background-size: contain;
  background-position: center;
  box-sizing: border-box;
}
.dice1 {
}
.dice2 {
}
.hold {
  height: 3em;
  width: 80%;
  background-color: green;
  margin: 1em;
}
.roll {
  height: 3em;
  width: 80%;
  background-color: green;
  margin: 1em;
}
.face1 {
  background-image: url(./assets/image/1.jpeg);
}
.face2 {
    background-image: url(./assets/image/2.jpeg);
  }
  .face3{
    background-image: url(./assets/image/3.jpeg);
  }
  .face4 {
    background-image: url(./assets/image/4.jpeg);
  }
  .face5 {
    background-image: url(./assets/image/5.jpeg);
  }
  .face6 {
    background-image: url(./assets/image/6.jpeg);
  }
  