.gameBoard {
  height: 90%;
  width: 35%;
  margin: 0 2em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: rgb(45 35 66 / 40%) 0 2px 4px, rgb(45 35 66 / 30%) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  position: relative;
}
.hide{
  visibility: hidden;
}


.dice {
  height: 10em;
  width: 10em;
  margin: 1em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  box-sizing: border-box;
}
.hold {
  height: 3em;
  width: 80%;
  margin: 1em;
  background-image:url(../assets/image/switch.png) ;
  background-repeat: no-repeat;
  background-size: contain;
  background-position:center;
}
.waiting{

  background-color: orchid;

}
.roll {
  height: 3em;
  width: fit-content;
  background-image:url(../assets/image/roll.png) ;
  background-repeat: no-repeat;
  background-size: contain;
  background-position:center;
  margin: 1em;
}
.roll:hover{
  width: 70px;
    height: 74px;
}
.hold:hover{
  width: 70px;
    height: 74px;
}

.face1 {
  background-image: url(../assets/image/1.jpeg);
}
.face2 {
    background-image: url(../assets/image/2.jpeg);
  }
  .face3{
    background-image: url(../assets/image/3.jpeg);
  }
  .face4 {
    background-image: url(../assets/image/4.jpeg);
  }
  .face5 {
    background-image: url(../assets/image/5.jpeg);
  }
  .face6 {
    background-image: url(../assets/image/6.jpeg);
  }
  
  